<div style = "padding: 20px;">
  <table>
    <tr>
      <td>
        <h1>Login</h1>
        <div>
          Name:
          <input [(ngModel)]="user.username" placeholder="Name">
        </div>
        <div>
          Password:
          <input [(ngModel)]="user.password" placeholder="Password" type="password">
        </div>
        <!-- <button (click)="register(user)">Register</button> -->
        <button (click)="login(user)">Login</button>
      </td>
      <td>

      </td>
    </tr>
    <tr>
      <td>
        <h1>Search books</h1>
        <input [(ngModel)]="bookTitle" placeholder="Book with title...">
        <button (click)="getBooks(bookTitle)">Get all books</button>
        <br>
        <input [(ngModel)]="numberOfResults" placeholder="Number of results" pattern="[0-9]*">
        <input [(ngModel)]="pageNumber" placeholder="Page number" pattern="[0-9]*">
        <button (click)="getBooksPaged(pageNumber, numberOfResults)">Get page results</button>
        <h1>List of books</h1>
        <div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Release Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of books">
                <td>{{ book.bookId }}</td>
                <td>{{ book.bookTitle }}</td>
                <td>{{ book.bookReleaseDate }}</td>
                <td>
                  <button (click)="getBookDetails(book.bookId)">Get details</button><br><br>
                  <button (click)="deleteBook(book.bookId)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
      <td>
        <div>
            <table>
              <thead>
                <tr>
                  <th>Book</th>
                  <th>Authors</th>
                  <th>Genre</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <h4>{{ bookDetails.bookTitle }}</h4>
                    <p>{{ bookDetails.bookReleaseDate }}</p>
                  </td>
                  <td>
                    <div *ngFor="let author of bookDetails.authors"> 
                      <h4>{{ author.name }} {{ author.surname }}</h4>
                      <b>Born: </b>{{ author.dateOfBirth }}
                    </div>
                  </td>
                  <td>
                    <div *ngFor="let genre of bookDetails.genres"> 
                      {{ genre.name }}, 
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <h4>Description</h4>
                    {{ bookDetails.bookDescription }}
                  </td>
                </tr>
              </tbody>
            </table>
            <h1>Edit book details</h1>
            <div>
              Title: <input id="newTitle" #newTitleInput [(ngModel)]="bookDetails.bookTitle" placeholder="select a book..."><br><br>
              Description: <textarea id="newDescription" #newDescriptionInput [(ngModel)]="bookDetails.bookDescription" placeholder="select a book..." style="width: 400px; height: 50px;"></textarea><br><br>
              <button (click)="editBookDetails(bookDetails.bookId, newTitleInput.value, newDescriptionInput.value)">Save changes</button><br>
            </div>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h2>Create new book</h2>
        <div>Title: <input [(ngModel)]="createBookDetails.data.bookTitle"></div>
        <div>Release date: <input type="date" [(ngModel)]="createBookDetails.data.bookReleaseDate"></div>
        <div>Description: <textarea [(ngModel)]="createBookDetails.data.bookDescription"></textarea></div>
        <div *ngFor="let authorId of createBookDetails.data.authorIds; let i = index">
          Author (id): *<input type="number" [(ngModel)]="createBookDetails.data.authorIds[i]" required> <button (click)="removeAuthorId(i)">Remove</button>
        </div>
        <button (click)="addAuthorId()">Add Author</button>
        <div *ngFor="let bookGenres of createBookDetails.data.bookGenres; let i = index">
          Genre (id): *<input type="number" [(ngModel)]="createBookDetails.data.bookGenres[i]" required> <button (click)="removeGenre(i)">Remove</button>
        </div>
        <button (click)="addGenre()">Add genre</button>
        <div><button (click)="createBook(createBookDetails)">Create book</button></div>
      </td>
    </tr>
  </table>
</div>